@font-face {
    font-family: 'philosopherregular';
    src: url('/fonts/philosopher/philosopher-regular-webfont.woff2') format('woff2'),
         url('/fonts/philosopher/philosopher-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'philosopherbold';
    src: url('/fonts/philosopher/philosopher-bold-webfont.woff2') format('woff2'),
         url('/fonts/philosopher/philosopher-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'juiceboxregular';
    src: url('/fonts/juicebox/juicebox-webfont.woff2') format('woff2'),
         url('/fonts/juicebox/juicebox-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    font-family: 'ABeeZee', sans-serif;
}



/*   HEADER   */

header{
    width: 100%;
    height: 150px;
    background-color: #2E2E2E;
    box-shadow: 0 8px 10px rgb(124, 124, 124);
    color: white;
    font-family: 'ABeeZee', sans-serif;

}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header li{
    list-style: none;
    width: 20%;
    text-align: center;
    font-size: 1.5em;
}

header li a{
    text-decoration: none;
    color: white;
}

.title{
    font-family: 'juiceboxregular';
    font-size: 4em;
}


/* ---------- */

.lien:hover{
    text-decoration: underline;
}

.labelInputClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.labelInputClass2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

.content{
    width: 100%;
    display : flex;
    margin-top: 10%;
    justify-content: center;
}

.content form{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 400px;
    width: 70%;
}

.content2{
    width: 100%;
    display : flex;
    margin-top: 10%;
    justify-content: center;
}

.content2 form{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 400px;
    width: 70%;
}


.input{
    display: flex;
    width: 150px;
    height: 15px;
    font-family: 'ABeeZee', sans-serif;
}

.content form h2{
    text-align:center;
}

.content2 form h2{
    text-align:center;
}

.content form h3{
    text-align:center;
}

.content2 form h3{
    text-align:center;
}


.labelInputCheckBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-bottom: 10px;
}

.WrapCheckBox{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.submitButton{
    width: 50px;
    height: 20px;
    font-family: 'ABeeZee', sans-serif;
}

.submitCentred{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content table tr th{
    width: 100px;
}

.content2 table tr th{
    width: 100px;
}

.content table tr td{
    text-align:center;   
    justify-content: center;
    border: 1px solid black;
}

.content2 table tr td{
    text-align:center;   
    justify-content: center;
    border: 1px solid black;
}

.ReadButon{
    width: 30px;
    height: 30px;
    margin-left: 50%;   
}

.td1{
    background-color: rgb(207, 207, 207);
    
}

.td2{
    background-color: rgb(255, 255, 255);
    
}

#imageAccueil{
width: 100%;
height: auto;
}

.content_welcome{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}



/*         MEDIA QUERIES*/
@media screen and (max-width: 1000px) {
    .title{
        font-size: 3em!important;
    }
}

@media screen and (max-width: 800px) {
    .title{
        font-size: 2.5em!important;
    }
}

@media screen and (max-width: 650px) {
    .title{
        font-size: 1.5em!important;
    }
}